<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
</head>
<body>
    <table>

        <td>员工id</td>
        <td>员工姓名</td>
        <td>员工工资</td>
        <td>入职时间</td>
        <tr th:each="emp:${emps}">
            <td th:text="${emp.empno}"></td>
            <td th:text="${emp.ename}"></td>
            <td th:text="${emp.salary}"></td>
            <td th:text="${emp.hiredate}"></td>
        </tr>

    </table>
</body>
</html>